In [17]:
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
metadata = MetaData()
users = Table('users', metadata,
    Column('id', Integer, primary_key=True),
    Column('name', String(30)),
    Column('fullname', String(30)),
)

addresses = Table('addresses', metadata,
  Column('id', Integer, primary_key=True),
  Column('user_id', None, ForeignKey('users.id')),
  Column('email_address', String(30), nullable=False)
 )

In [8]:
users

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), schema=None)

In [9]:
addresses

Table('addresses', MetaData(bind=None), Column('id', Integer(), table=<addresses>, primary_key=True, nullable=False), Column('user_id', Integer(), ForeignKey('users.id'), table=<addresses>), Column('email_address', String(), table=<addresses>, nullable=False), schema=None)

In [10]:
 ins = users.insert()

In [11]:
ins

In [12]:
 str(ins)

'INSERT INTO users (id, name, fullname) VALUES (:id, :name, :fullname)'

In [18]:
engine = create_engine('mysql+pymysql://admin:example@localhost:3308/datastage') #ler isso do config e remover do codigo
#conn = engine.connect()

metadata.create_all(engine)

In [118]:
import pandas as pd
from sqlalchemy import create_engine
from unidecode import unidecode
from datetime import datetime
import numpy as np
cadastro = "D:\\Github\\FGApp\\backend\\Servidores\\data\\unziped_files\\201808_Cadastro.csv"
remuneracao = "D:\\Github\\FGApp\\backend\\Servidores\\data\\unziped_files\\201808_Remuneracao.csv"

def insert_cadastro(cadastro,remuneracao):
    pass
def database_insert(result):
    try:
       #TODO
       # ler isso do config e remover do codigo
       # 
       # ##
        eng = create_engine('mysql://admin:example@localhost:3308/datastage') 
     
        result.to_sql('stg_servidores_2', eng, if_exists='append', index=False)
        print('arquivo inserido')
    except Exception  as e:
      
        print("insert")
        print (e)

#
# define tipos de dados e remove espaços em branco
# #
def define_columns_types(resul_set):
    resul_set.CPF = resul_set.CPF.str.replace('\D','')
    resul_set.MATRICULA = resul_set.MATRICULA.str.replace('\D','')
    resul_set["Id_SERVIDOR_PORTAL"] = resul_set['Id_SERVIDOR_PORTAL'].astype('int')
    resul_set["CPF"] = resul_set['CPF'].astype('int')
    resul_set["MATRICULA"] = resul_set['MATRICULA'].astype('int')
    return resul_set

def remove_last_line(x):
    x = x[x.SIGLA_FUNCAO != '-1']
    return x

def remove_columns_cadastro(x):
    keep_col = ['Id_SERVIDOR_PORTAL','NOME','CPF','MATRICULA','SIGLA_FUNCAO',
                'NIVEL_FUNCAO','FUNCAO','UORG_EXERCICIO','DATA_INICIO_AFASTAMENTO',
                'DATA_TERMINO_AFASTAMENTO','DATA_INGRESSO_CARGOFUNCAO','UF_EXERCICIO']


    x = x[keep_col]
    return x

def create_total_column(remuneracao_result_set):
    col_list = list(remuneracao_result_set)
    col_list.remove('ANO')
    col_list.remove('MES')
    col_list.remove('Id_SERVIDOR_PORTAL')
    col_list.remove('CPF')
    col_list.remove('NOME')

    define_types(remuneracao_result_set)

    remuneracao_result_set['total_remuneracao'] = remuneracao_result_set[col_list].sum(axis=1)

def define_types(y):
    y["ANO"] = y['ANO'].astype('int')
    y["MES"] = y['MES'].astype('int')
    y["CPF"] = y['CPF'].astype('int')
    y["Id_SERVIDOR_PORTAL"] = y['Id_SERVIDOR_PORTAL'].astype('int')

    y["REMUNERACAO_BASICA_BRUTA"] = y['REMUNERACAO_BASICA_BRUTA'].astype('float')
    y["GRATIFICACAO_NATALINA"] = y['GRATIFICACAO_NATALINA'].astype('float')
    y["FERIAS"] = y['FERIAS'].astype('float')
    y["OUTRAS_REMUNERACOES_EVENTUAIS"] = y['OUTRAS_REMUNERACOES_EVENTUAIS'].astype('float')
    y["TOTAL_DE_VERBAS_INDENIZATORIAS"] = y['TOTAL_DE_VERBAS_INDENIZATORIAS'].astype('float')

def remove_columns_remuneracao(y):
    keep_col =      ['ANO', 'MES', 'Id_SERVIDOR_PORTAL', 'CPF', 'NOME',
                        'REMUNERACAO_BASICA_BRUTA', 'GRATIFICACAO_NATALINA',
                        'FERIAS',
                        'OUTRAS_REMUNERACOES_EVENTUAIS', 
                        'TOTAL_DE_VERBAS_INDENIZATORIAS']

    y = y[keep_col]
    y = y[:-1] #remove last row
    return y

def remove_spaces(y):
    y.columns = y.columns.str.replace('\D(R\$\D)','')
    y.columns = y.columns.str.replace('\D(\*\D)','')
    y.columns = y.columns.str.replace('\/^\s+|\s+$','')
    y.columns = y.columns.str.replace(' ','_')
    y.CPF = y.CPF.str.replace('\D','')

def remove_coll_dolar(y):
    drop_columns = []
    for x in y[:0]:
        if('U$' in x):
            y = y.drop(columns=[x])
    return y

def remove_pt_caracteres(y):
    new_header = []
    for x in y[:0]:
        new_header.append(unidecode(x))

    return new_header

def read_csv(remuneracao):
    y = pd.read_csv(remuneracao, encoding ="ISO-8859-1", delimiter=';', skipinitialspace=True,error_bad_lines = False, engine='c',decimal=",")
    return y

In [2]:
chunk = 10000
#le o arquivo csv remuneração
remuneracao_result_set = read_csv(remuneracao)

#remove caracteres especiais da lingua portuguesa 
remuneracao_result_set.columns = remove_pt_caracteres(remuneracao_result_set)

#remove dolar 
remuneracao_result_set = remove_coll_dolar(remuneracao_result_set)

#remove espaços em branco
remove_spaces(remuneracao_result_set)

#remove colunas não necessarias 
remuneracao_result_set = remove_columns_remuneracao(remuneracao_result_set)

#cria nova coluna para armazenar o gato total do servidor
create_total_column(remuneracao_result_set)

# remover no futuro -> existe para test
# 
# keep_col = ['ANO','MES','Id_SERVIDOR_PORTAL','CPF','NOME','total_remuneracao'] #remover valores intermediarios a soma 
# y = y[keep_col]
#
# 
# ##

for i, result_set in enumerate((pd.read_csv(cadastro, encoding ="ISO-8859-1", delimiter=';', skipinitialspace=True,error_bad_lines = False, engine='c',chunksize=chunk))):

    result_set = remove_columns_cadastro(result_set)


    result_set = remove_last_line(result_set)

    result_set = define_columns_types(result_set)

    # merge salva o resultado de inner join da tabala remuneraçao com a tabela cadastro
    merge = pd.merge(result_set,remuneracao_result_set,how='inner',on=['Id_SERVIDOR_PORTAL','NOME','CPF'])

    database_insert(merge)
    #  TODO
    # remover path estatico do codigo  
    #  #        

  #  merge.to_csv("D:\\Github\\FGApp\\backend\\Servidores\\test\\"+  str(i) + datetime.now().strftime("%d-%m-%Y-%H-%M-%S") +'.csv', index=False)

    #
    # TODO
    # inserir no banco nesse momento
    # e nao  gerar um arquivo csv
    # #

d:\github\fgapp\env\lib\site-packages\IPython\core\interactiveshell.py:3249: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido
arquivo inserido

In [3]:

y = pd.read_csv(cadastro, encoding ="ISO-8859-1", delimiter=';', skipinitialspace=True,error_bad_lines = False, engine='c')

d:\github\fgapp\env\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:

y = pd.read_csv(cadastro, encoding ="ISO-8859-1", delimiter=';', skipinitialspace=True,error_bad_lines = False, engine='c',

result_set = remove_columns_cadastro(result_set)


result_set = remove_last_line(result_set)

result_set = define_columns_types(result_set)

# merge salva o resultado de inner join da tabala remuneraçao com a tabela cadastro
merge = pd.merge(result_set,remuneracao_result_set,how='inner',on=['Id_SERVIDOR_PORTAL','NOME','CPF'])

database_insert(merge)
#  TODO
# remover path estatico do codigo  
#  #        

#  merge.to_csv("D:\\Github\\FGApp\\backend\\Servidores\\test\\"+  str(i) + datetime.now().strftime("%d-%m-%Y-%H-%M-%S") +'.csv', index=False)

#
# TODO
# inserir no banco nesse momento
# e nao  gerar um arquivo csv
# #

SyntaxError: invalid syntax (<ipython-input-4-4c2a09318667>, line 6)

In [5]:
xx = pd.read_csv(cadastro, encoding ="ISO-8859-1", delimiter=';')
xx

,Id_SERVIDOR_PORTAL,NOME,CPF,MATRICULA,DESCRICAO_CARGO,CLASSE_CARGO,REFERENCIA_CARGO,PADRAO_CARGO,NIVEL_CARGO,SIGLA_FUNCAO,...,JORNADA_DE_TRABALHO,DATA_INGRESSO_CARGOFUNCAO,DATA_NOMEACAO_CARGOFUNCAO,DATA_INGRESSO_ORGAO,DOCUMENTO_INGRESSO_SERVICOPUBLICO,DATA_DIPLOMA_INGRESSO_SERVICOPUBLICO,DIPLOMA_INGRESSO_CARGOFUNCAO,DIPLOMA_INGRESSO_ORGAO,DIPLOMA_INGRESSO_SERVICOPUBLICO,UF_EXERCICIO
0,5116961,AARAO CARLOS LUZ MACAMBIRA,***.017.623-**,016****,BIBLIOTECARIO-DOCUMENTALISTA,E,0.0,306,0.0,-1,...,40 HORAS SEMANAIS,11/02/2009,NaN,29/12/2008,699,11/02/2009,NaN,LEI,PORTARIA,CE
1,201964,AARAO DIAMANTINO OLIVEIRA,***.056.281-**,000****,Sem informação,NaN,-1.0,-1,-1.0,FBC,...,40 HORAS SEMANAIS,04/06/2018,NaN,NaN,000000000,05/01/1998,NaN,Inválido,Inválido,-1
2,201964,AARAO DIAMANTINO OLIVEIRA,***.056.281-**,000****,ANALISTA DO BANCO CENTRAL,E,NaN,IV,NaN,-1,...,40 HORAS SEMANAIS,05/01/1998,NaN,NaN,000000000,05/01/1998,NaN,Inválido,Inválido,DF
3,4405000,AARAO FERREIRA LIMA NETO,***.116.132-**,014****,Sem informação,NaN,-1.0,-1,-1.0,FG,...,DEDICACAO EXCLUSIVA,13/04/2016,NaN,24/07/2006,2475,16/08/2006,NaN,PORTARIA,PORTARIA,-1
4,4405000,AARAO FERREIRA LIMA NETO,***.116.132-**,014****,PROFESSOR DO MAGISTERIO SUPERIOR,6,0.0,NaN,603.0,-1,...,DEDICACAO EXCLUSIVA,01/03/2013,NaN,24/07/2006,2475,16/08/2006,NaN,PORTARIA,PORTARIA,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795912,1307290,ZUZANA RENDAKI MIKOS,***.034.989-**,012****,AUXILIAR DE ENFERMAGEM,C,0.0,413,0.0,-1,...,40 HORAS SEMANAIS,01/03/2005,NaN,23/12/1996,9770,28/01/1997,NaN,PORTARIA,PORTARIA,PR
795913,8504240,ZUZITA DOS SANTOS VIANA,***.041.463-**,004****,PROFESSOR DE 1 GRAU,S,0.0,III,0.0,-1,...,40 HORAS SEMANAIS,01/07/2006,NaN,01/08/1986,001247\86,01/08/1986,NaN,PORTARIA,PORTARIA,MA
795914,1004004,ZYLKSON CIPRIANO DE OLIVEIRA,***.416.484-**,015****,ANALISTA EM DESENVOLVIMENTO REGIONAL,S,0.0,NaN,20.0,-1,...,40 HORAS SEMANAIS,21/09/2006,NaN,21/09/2006,NaN,NaN,NaN,CONTRATO,Inválido,-1
795915,1004004,ZYLKSON CIPRIANO DE OLIVEIRA,***.416.484-**,015****,Sem informação,NaN,-1.0,-1,-1.0,PFC,...,40 HORAS SEMANAIS,03/02/2014,NaN,21/09/2006,NaN,NaN,NaN,CONTRATO,Inválido,-1
795916,8915543,ZYSMAN NEIMAN,***.857.198-**,015****,PROFESSOR DO MAGISTERIO SUPERIOR,7,0.0,NaN,702.0,-1,...,DEDICACAO EXCLUSIVA,01/03/2013,NaN,18/03/2013,039/06,17/02/2006,NaN,PORTARIA,PORTARIA,SP

In [75]:
cc = xx.loc[xx['SIGLA_FUNCAO'] != '-1']
func = xx.loc[xx['SIGLA_FUNCAO'] == '-1']

keep_col = ['Id_SERVIDOR_PORTAL','NOME','SIGLA_FUNCAO',
            'NIVEL_FUNCAO','FUNCAO','UORG_EXERCICIO'
            ,'DATA_INGRESSO_CARGOFUNCAO','UF_EXERCICIO']


func = func[keep_col]
cc = cc[keep_col]
cc = cc.drop('UF_EXERCICIO',axis=1)

In [93]:
test =  pd.merge(func[['Id_SERVIDOR_PORTAL','UF_EXERCICIO']], cc, on=['Id_SERVIDOR_PORTAL'] , how='left')

In [84]:
wq = test.loc[test['UF_EXERCICIO'] != '-1']

In [98]:
test = test.dropna()

In [119]:
test.replace({'-1':np.nan})

,Id_SERVIDOR_PORTAL,UF_EXERCICIO,NOME,SIGLA_FUNCAO,NIVEL_FUNCAO,FUNCAO,UORG_EXERCICIO,DATA_INGRESSO_CARGOFUNCAO
1,201964,DF,AARAO DIAMANTINO OLIVEIRA,FBC,FDT1,FUNCAO COMISSIONADA DO BANCO CENTRAL,BANCO CENTRAL DO BRASIL,04/06/2018
2,4405000,NaN,AARAO FERREIRA LIMA NETO,FG,0001,FUNCAO GRATIFICADA - IFES,NUCLEO DE DESENV AMAZONICO EM ENGENHARIA,13/04/2016
6,2671,NaN,AARON DE SOUSA ALVES,FUC,0001,FUNCAO COMISSIONADA DE COORD. CURSO,COORD DO CURSO TECNICO EM AGROPECUARIA,15/02/2017
16,6118494,NaN,ABADIA DE FATIMA ROSA MACEDO,FG,0001,FUNCAO GRATIFICADA - IFES,DIRETORIA QUALID VIDA SAUDE SERVIDOR,24/08/2017
23,5210013,NaN,ABADIA RODRIGUES DA SILVA,FGR,0001,FUNCAO GRATIFICADA LEI 8.216/91,SECRETARIA DE PLAN E DESENV ENERGETICO,01/01/2018
...,...,...,...,...,...,...,...,...
691154,3303674,NaN,ZULMIRA DE SOUSA RAMOS NETA,FGR,0003,FUNCAO GRATIFICADA LEI 8.216/91,POSTO/COD/POSTO ATEND RFB EM CODO,02/01/2018
691168,5304151,NaN,ZULMIRA NOBREGA PIVA DE CARVALHO,FUC,0001,FUNCAO COMISSIONADA DE COORD. CURSO,CCTA - DPTO DE JORNALISMO,13/03/2017
691179,1900301,NaN,ZUMILSON CUSTODIO DA SILVA,FGR,0001,FUNCAO GRATIFICADA LEI 8.216/91,DRF/CGE/SECAO CONT ACOMP TRIBUTARIO,14/02/2012
691193,216805,NaN,ZUY MARIA MAGRIOTIS,FUC,0001,FUNCAO COMISSIONADA DE COORD. CURSO,CURSO DE GRAD EM ENGENHARIA QUIMICA,03/08/2016
691196,1004004,NaN,ZYLKSON CIPRIANO DE OLIVEIRA,PFC,0019,PLANO DE FUNCOES DE CONFIANCA,Inválido,03/02/2014